version: "3.9"

services:
  dev:
    image: ${OH_MY_ARCH_IMAGE:-oh-my-arch:latest}
    container_name: oh-my-arch-dev
    restart: unless-stopped
    ports:
      - "2222:22"
      - "8080:8080"
    environment:
      CODE_SERVER_PASSWORD: ${CODE_SERVER_PASSWORD:-yun}
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: compute,utility,graphics
      TZ: ${TZ:-Asia/Shanghai}
    volumes:
      - ./:/workspace
      - ./compose-data/code-server/config:/home/yun/.config/code-server
      - ./compose-data/code-server/data:/home/yun/.local/share/code-server
      - ./compose-data/ssh:/home/yun/.ssh
      - ./compose-data/fnm:/home/yun/.local/share/fnm
      - ./compose-data/kube:/home/yun/.kube
      - /var/run/docker.sock:/var/run/docker.sock
    working_dir: /workspace
    gpus: all
